//.contener-head
  position: absolute
  padding: 25px
  width: 100%
  background-color: #fff
  height: 80px

#header
  padding: 0px 20px

.fixed
  position: fixed
  top: 0

.logo
  width: 80px
  padding: 10px

.menu
  position: absolute
  z-index: 9999
  display: inline-block
  width: 100%
  margin-top: 10px
  text-align: right
  width: 90%

  ul li
    display: inline-block
    padding: 5px 15px

  ul li a
    text-decoration: none
    color: #278589

#header-wrap
  width: 100%
  position: fixed
  background-color: #fff
  margin: 0
  padding: 0
  color: #fff
  z-index: 99999


#home
  height: 850px
  background: url('images/home_afrique.png') no-repeat center
  -webkit-background-size: cover
  background-size: cover

